name: Auto Tag Release

on:
  push:
    branches:
      - master
jobs:
  auto-tag-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Extract commit message
        run: |
          commit_message=$(git log --format=%B -n 1 ${{ github.sha }})
          echo "COMMIT_MESSAGE=$commit_message" >> $GITHUB_ENV
      - name: Check commit message pattern
        run: |
          # extract version number from commit message
          version=""
          body=$(echo "${{ steps.extract_commit_message.outputs.body }}" | sed 's/.*\]:\s*//')
          is_matching=false
          if [[ "${{ env.COMMIT_MESSAGE }}" =~ ^\[(v?[0-9]+\.[0-9]+\.[0-9]+)\]:.*$ ]]; then
            is_matching=true
            version="${BASH_REMATCH[1]}"
          fi
          echo "IS_MATCHING=$is_matching" >> $GITHUB_ENV
          echo "VERSION=$version" >> $GITHUB_ENV
          echo "RELEASE_BODY=$body" >> $GITHUB_ENV
      - name: Create release
        uses: softprops/action-gh-release@v1
        if: env.IS_MATCHING == 'true'
        with:
          tag_name: ${{ env.VERSION }}
          body: ${{ env.RELEASE_BODY }}
          token: ${{ secrets.GITHUB_TOKEN }}
