name: Auto Tag Release

on:
  push:
    branches:
      - master
jobs:
  auto-tag-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Extract commit message
        run: |
          commit_message=$(git log --format=%B -n 1 ${{ github.sha }})
          echo "COMMIT_MESSAGE=$commit_message" >> $GITHUB_ENV
      - name: Check commit message pattern
        run: |
          # extract version number from commit message
          version=""
          is_matching=false
          if [[ "${{ env.COMMIT_MESSAGE }}" =~ ^\[(v?[0-9]+\.[0-9]+\.[0-9]+)\]:.*$ ]]; then
            is_matching=true
            version="${BASH_REMATCH[1]}"
          fi
          echo "IS_MATCHING=$is_matching" >> $GITHUB_ENV
          echo "VERSION=$version" >> $GITHUB_ENV
      - name: Create tag
        uses: anothrNick/github-tag-action@1.61.0
        if: ${{ env.IS_MATCHING }} == 'true'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CUSTOM_TAG: ${{ env.VERSION }}
          DRY_RUN: true
